<div class="divFlores">

  <div class="error-messages">
    <% if !@request.nil? && @request.errors.any? %>
        <% @request.errors.full_messages.each do |msg| %>
            <span class="label label-important"><%= msg %></span>
        <% end %>
    <% end %>
  </div>

  <%= form_for @request, :html => {:class => "form-horizontal", :id => "formRequest"}, :url => {:action => 'create'} do |r| %>

      <h4 style="margin-left: 77px; margin-top: 35px; margin-bottom: 44px;"><%=t :endereco_ser_atendida %></h4>

      <div style="width: 400px;">

        <div class="control-group">
          <label class="control-label" for="local"><%=t :localidade %>*:</label>
          <div class="controls">
            <%= r.select :local_id, Local.all.collect {|l| [ l.name, l.id ] }, {:include_blank => true},
                            html_options = {:id => 'local'} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="address"><%=t :endereco %>*:</label>
          <div class="controls">
            <%= r.text_field :address, :id => 'address' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="complement"><%=t :numero %>*:</label>
          <div class="controls">
            <%= r.text_field :number, :style => 'width:38px', :id => 'number' %>
            <%=t :complemento %>*:<%= r.text_field :complement, :style => 'width:88px', :id => 'complement' %>
          </div>
        </div>

        <br />
        <div class="control-group">
          <div class="controls">
            <span style="margin-left: 10px;"><%=t :notificado_por %>:</span>
            <br />
            <br />
            <span><%= r.radio_button :is_phone, false %><%=t :email %></span>
            <span style="margin-left: 41px;"><%= r.radio_button :is_phone, true %><%=t :celular %></span>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= r.submit t(:ok), :class => "btn btn-warning floatRight" %>
          </div>
        </div>

        <%= image_tag 'logo_147x58.png', :class => 'logo' %>

      </div>

  <% end %>

</div>

<script type="text/javascript">

    var metrics = [
        [ '#local', 'presence', '' ],
        [ '#address', 'presence', '' ],
        [ '#number', 'presence', '' ],
        [ '#complement', 'presence', '' ],
    ];

    $("#formRequest").nod( metrics );

</script>