<h2><%=t :registrar %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div><%=t :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%=t :senha %><br />
  <%= f.password_field :password %></div>

  <div><%=t :confirmacao_senha %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%=t :nome %><br />
  <%= f.text_field :firstName, :maxlength => 50 %></div>

  <div><%=t :sobrenome %><br />
  <%= f.text_field :lastName, :maxlength => 50 %></div>

  <div><%=t :data_nascimento %><br />
  <%= f.date_select :birth, :start_year => 1910, :include_blank => true, :order => [:day, :month, :year] %></div>

  <div><%=t :celular %><br />
  <%= f.text_field :phone, :maxlength => 15 %></div>

  <div><%=t :sexo %><br />
  <%= f.select :gender, options_for_select([ ['Masculino', 'M'], ['Feminino', 'F'] ]), :include_blank => true %></div>

  <div><%= f.submit t(:registrar) %></div>

<% end %>