<div class="divFlores">

  <%= form_for(resource, :as => resource_name, :html => {:class => "form-horizontal", :id => "formCadastro"}, :url => registration_path(resource_name)) do |f| %>

      <div class="error-messages">
        <% if !resource.nil? && resource.errors.any? %>
            <% resource.errors.full_messages.each do |msg| %>
                <span class="label label-important"><%= msg %></span>
            <% end %>
        <% end %>
      </div>

      <h4 style="margin-left: 232px;"><%=t :cadastro %></h4>

      <div style="margin-top: 23px; width: 401px;">

        <div class="control-group">
          <label class="control-label" for="firstName"><%=t :nome %>*:</label>
          <div class="controls">
            <%= f.text_field :firstName, :maxlength => 50, :id => 'firstName' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lastName"><%=t :sobrenome %>*:</label>
          <div class="controls">
            <%= f.text_field :lastName, :maxlength => 50, :id => 'lastName' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="birth"><%=t :data_nascimento %>*:</label>
          <div class="controls">
            <%= f.date_select :birth, {:start_year => 1910, :include_blank => true, :order => [:day, :month, :year]}, {:style => "width:71px", :id => 'birth'} %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <span><%= f.radio_button :gender, 'M' %><%=t :masculino %></span>
            <span style="margin-left: 50px;"><%= f.radio_button :gender, 'F' %><%=t :feminino %></span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone"><%=t :celular %>*:</label>
          <div class="controls">
            <%= f.text_field :phone, :maxlength => 15, :id => 'phone' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email"><%=t :email %>*:</label>
          <div class="controls">
            <%= f.email_field :email, :id => 'email' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password"><%=t :senha %>*:</label>
          <div class="controls">
            <%= f.password_field :password, :id => 'password' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password_confirmation"><%=t :confirmacao_senha %>*:</label>
          <div class="controls">
            <%= f.password_field :password_confirmation, :id => 'password_confirmation' %>
          </div>
        </div>

        <div class="control-group" style="margin-left: 50px;">
          <div class="controls">
            <%= f.submit t(:confirmar), :class => "btn btn-warning floatRight" %>
          </div>
        </div>

      </div>

      <%= image_tag 'logo_147x58.png', :class => 'logo' %>

  <% end %>

</div>

<script type="text/javascript">

    var metrics = [
        [ '#firstName', 'presence', '' ],
        [ '#lastName', 'presence', '' ],
        [ '#birth', 'presence', '' ],
        [ '#phone', 'presence', '' ],
        [ '#email', 'presence', '' ],
        [ '#password', 'presence', '' ],
        [ '#password_confirmation', 'presence', '' ],
        [ '#password_confirmation', 'same-as:#password', '' ],
    ];

    $("#formCadastro").nod( metrics );

</script>