<h2><%=t :logar %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div><%=t :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%=t :senha %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit t(:logar) %></div>
<% end %>

<%= render "devise/shared/links" %>