<br/>
<br/>

<%= link_to t(:quero_fazer_unha), {:controller => 'request', :action => 'new'} %>

<br/>
<br/>

<table border="1">
      <tr>
        <td><%=t :status %></td>
        <td><%=t :endereco %></td>
        <td><%=t :valor %></td>
      </tr>
    <% @requests.each do |r| %>
      <tr>
        <td><%= r.statusAsText %></td>
        <td><%= r.address %></td>
        <td><%= r.price %></td>
      </tr>
    <% end %>
</table>